.login {
  display: flex;
  min-height: 100vh;
  padding: 200px 0px 80px;
  box-sizing: border-box;
}
.login_inner {
  display: flex;
  max-width: 500px;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 0px auto;
}
.login_inner .login_wrap {
  background-color: #fff;
  width: 100%;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 50px;
  box-shadow: 0 0px 70px rgba(10, 10, 10, 0.1);
  border: 4px solid #ffc501;
}
.login_inner h3 {
  font-size: 46px;
  text-align: center;
  margin-bottom: 50px;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  color: #ffc501;
  letter-spacing: -1px;
}
.login_inner form {
  margin-bottom: 20px;
}
.login_inner form p {
  font-size: 14px;
  color: #222;
  margin-bottom: 10px;
  font-weight: bold;
}
.login_inner form .login_email,
.login_inner form .login_password {
  position: relative;
  border: none;
  padding: 12px 20px;
  border-radius: 20px;
  font-size: 15px;
  margin-bottom: 30px;
  width: 100%;
  box-sizing: border-box;
  color: #0a174e;
  background-color: #fff8ea;
}
.login_inner form .login_email:focus-visible,
.login_inner form .login_password:focus-visible {
  outline: 0;
}
.login_inner form .login_email:focus,
.login_inner form .login_password:focus {
  border: none;
  border-bottom: 2px solid #ffc501;
}
.login_inner form .input_error {
  display: none;
  font-size: 12px;
  font-weight: 500;
}
.login_inner form .login-email-wrap.invalid p,
.login_inner form .login-password-wrap.invalid p {
  color: #f15746;
}
.login_inner form .login-email-wrap.invalid input,
.login_inner form .login-password-wrap.invalid input {
  border-color: #f15746;
  margin-bottom: 5px;
}
.login_inner form .login-email-wrap.invalid .input_error,
.login_inner form .login-password-wrap.invalid .input_error {
  display: block;
  margin-bottom: 25px;
}
.login_inner form .login_submit {
  border: none;
  width: 100%;
  color: #0a174e;
  background-color: #ffc501;
  border-radius: 30px;
  padding: 14px 17px;
  font-size: 18px;
  font-weight: 900;
  cursor: pointer;
  font-family: 'Nunito', sans-serif;
}
.login_inner .login_route {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.login_inner .login_route li {
  padding: 0px 20px;
  position: relative;
}
.login_inner .login_route li a {
  color: #444;
  font-size: 14px;
}
.login_inner .login_route li::after {
  content: '';
  position: absolute;
  top: 1px;
  right: 0px;
  display: block;
  width: 1px;
  height: 100%;
  background-color: #bbb;
}
.login_inner .login_route li:last-child::after {
  display: none;
}
.login_inner .login_sns li a {
  position: relative;
  display: block;
  padding: 17px;
  border-radius: 30px;
  border: 1px solid #ddd;
  color: #222;
  font-size: 16px;
  font-weight: bold;
}
.login_inner .login_sns li a span {
  font-family: 'NanumSquareNeoExtraBold';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
