.adminpage .inner {
  padding: 135px 30px 80px 30px;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* 테두리 */

.adminpage .user_detail {
  border-bottom: 8px solid #f0f0f0;
  display: flex;
  flex: 1;
  padding: 16px 24px;
  box-sizing: border-box;
  background-color: #fff;
  border: 4px solid #333;
  border-radius: 20px;
  box-shadow: none;
}

.adminpage .order-list__menu {
  padding: 30px;
  box-sizing: border-box;
  background-color: #fff;
  border: 4px solid #333;
  border-radius: 20px;
  box-shadow: none;
}

/* 폰트두깨종류 */
.adminpage .semi-bold {
  font-family: 'NanumSquareNeoBold';
}

.adminpage .bold {
  font-weight: bold;
}

.adminpage .heavy {
  font-family: 'NanumSquareNeoHeavy';
}

.adminpage .contents {
  display: flex;
}
.adminpage .contents:after {
  content: '';
  display: block;
  clear: both;
}

.adminpage .side {
  padding: 30px;
  box-sizing: border-box;
  background-color: #fff;
  border-right: 1px solid #333;
  box-shadow: none;
  margin-right: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 20%;
  height: 885px;
  float: left;
}

.adminpage .con {
  padding: 30px;
  box-sizing: border-box;
  background-color: #fff;
  border: none;
  border-radius: 20px;
  box-shadow: none;
  margin-left: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 79%;
  height: 885px;
  float: left;
}

/* 텍스트 */
.adminpage h1 {
  font-size: 30px;
  padding-bottom: 20px;
}
.adminpage h2 {
  font-size: 24px;
  padding-bottom: 20px;
  padding-top: 35px;
}
.adminpage li {
  font-size: 20px;
  padding-bottom: 20px;
}

/* 프로필관리 버튼 */
.adminpage .show {
  margin-top: 25px;
  margin-left: 15px;
  padding: 15px 0;
  box-sizing: border-box;
  border: 1px solid black;
  color: rgba(34, 34, 34, 0.8);
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
  flex: right;
}

/* 프로필관리 팝업창 */

.adminpage .background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;

  /* 숨기기 */
  z-index: -1;
  opacity: 0;
}

.adminpage .show {
  opacity: 1;
  z-index: 1000;
  transition: all 0.5s;
}

.adminpage .window {
  position: relative;
  width: 100%;
  height: 100%;
}

.adminpage .popup {
  position: absolute;
  width: 800px;
  height: 800px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);

  /* 임시 지정 */
  width: 100px;
  height: 100px;

  /* 초기에 약간 아래에 배치 */
  transform: translate(-50%, -40%);
}

.adminpage .show .popup {
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}

/* 메인 컨텐츠 유저정보 */
/* 이미지 칸 */

.adminpage .user_thumb {
  width: 150px;
  height: 150px;
  border-radius: 30%;
  background-color: black;
}
.adminpage .user_thumb img {
  width: 100%;
  height: 100%;
  border-radius: 30%;
}

/* 메인컨텐츠 유저디테일 */
.adminpage .name {
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #000;
  display: flex;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: -0.27px;
  line-height: 21px;
}

.adminpage .email {
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 40px;
  color: rgba(34, 34, 34, 0.5);
  font-size: 17px;
  line-height: 18px;
}
.adminpage .info_box {
  margin: 20px;
}
.adminpage .username {
  font-size: 1.4rem;
}
/* 메인컨텐츠 배송내역 */
.adminpage .order-list__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  box-shadow: 0 1px 3px 0 #dbdbdb;
  height: 100px;
  border-radius: 4px;
  padding: 10px;
}

.adminpage .order-list__menu__list {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0px;
  -moz-box-flex: 1;
  -moz-flex: 1 0 0px;
  -ms-flex: 1 0 0px;
  flex: 1 0 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.adminpage .order-list__menu__list:not(:last-of-type):after {
  position: absolute;
  display: block;
  content: '';
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  border: solid #bdbdbd;
  border-width: 2px 2px 0 0;
  right: 0px;
}

@media (max-width: 767px) {
  .adminpage .order-list__menu__list:not(:last-of-type):after {
    display: none;
  }
}

.adminpage .order-list__menu__list:active .order-list__menu__list__title,
.order-list__menu__list:focus .order-list__menu__list__title,
.order-list__menu__list:hover .order-list__menu__list__title {
  font-weight: 700px;
}

.adminpage .order-list__menu__list__wrap {
  text-align: center;
}

.adminpage .order-list__menu__list__title {
  font-size: 20px;
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  .adminpage .order-list__menu__list__title {
    font-size: 12px;
    margin-bottom: 10px;
  }
}

.adminpage .order-list__menu__list__title--focus {
  font-weight: 700px;
}

.adminpage .order-list__menu__list__value {
  font-size: 20px;
  color: black;
}

@media (max-width: 767px) {
  .adminpage .order-list__menu__list__value {
    font-size: 12px;
  }
}

.adminpage .order-list__menu__list__value--placeholder {
  width: 100%;
  height: 20px;
  background-color: #f5f5f5;
}

@media (max-width: 767px) {
  .adminpage .order-list__menu__list__value--placeholder {
    width: 15px;
    height: 12px;
    margin: 0 auto;
  }
}

.adminpage .carousel__list__entry {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.adminpage .carousel {
  position: relative;
}

.adminpage .carousel__list-wrap {
  overflow: hidden;
}

.adminpage .carousel__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: none;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
  min-height: 100%;
}

.adminpage .carousel__list__entry {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -moz-box-flex: 0;
  -moz-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  box-sizing: border-box;
}

.adminpage .carousel__ui {
  display: none;
}

.adminpage .carousel__ui__left,
.carousel__ui__right {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  transition: opacity 0.1s;
  cursor: pointer;
  z-index: 10;
}

.adminpage .carousel__ui__left > .active,
.carousel__ui__left > .inactive,
.carousel__ui__right > .active,
.carousel__ui__right > .inactive {
  position: absolute;
  transition: opacity 0.1s;
}

.adminpage .carousel__ui__left.scroller-hide,
.carousel__ui__left > .active,
.carousel__ui__right.scroller-hide,
.carousel__ui__right > .active {
  opacity: 0;
}

.adminpage .carousel__ui__left:active > .active,
.carousel__ui__left:focus > .active,
.carousel__ui__left:hover > .active,
.carousel__ui__right:active > .active,
.carousel__ui__right:focus > .active,
.carousel__ui__right:hover > .active {
  opacity: 1;
}

.adminpage .carousel__ui__left {
  left: 0;
  transform: translate(-50%, -50%);
}

.adminpage .carousel__ui__right {
  right: 0;
  transform: translate(50%, -50%);
}

.adminpage .order-list-carousel {
  width: 100%;
  margin: 20px 0;
  overflow: hidden;
}

.adminpage .order-list-carousel__list-wrap {
  margin: 0 -10px;
}

.adminpage .order-list-carousel__content {
  position: relative;
  overflow: hidden;
  margin: 0 10px;
  min-height: 70px;
}

@media (min-width: 768px) {
  .adminpage .order-list-carousel__content {
    height: 70px;
    border-radius: 4px;
  }
}

.adminpage .order-list-carousel__image-wrapper {
  position: relative;
}

.adminpage .order-list-carousel__image-wrapper > img {
  display: block;
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .adminpage .order-list-carousel__image-wrapper > img {
    width: auto;
    height: 100%;
    border-radius: 4px;
  }
}

@media (min-width: 768px) {
  .adminpage .order-list-carousel__image-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
  }
}

.adminpage .order-list-carousel-indicator {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
}

.adminpage .order-list-carousel-indicator__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  list-style: none;
}

.adminpage .order-list-carousel-indicator__item > button {
  display: block;
  border: none;
  padding: 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  background-color: hsla(0, 0%, 100%, 0.7);
  margin: 0 2px;
}

.adminpage .order-list-carousel-indicator__item.active > button {
  width: 8px;
  height: 8px;
  background-color: #fff;
}
/* 링크 텍스트 색상0 */
a:link {
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color: gray;
}
#category-list,
#order-list,
#product-list,
#user-list {
  height: 800px;
  overflow-y: scroll;
}

#category-list ul,
#order-list ul,
#product-list ul,
#user-list ul {
  border: 1px solid;
  margin: 10px;
  padding: 10px;
}
#category-list button,
#product-list button,
#order-list button,
#order-button button {
  padding: 10px;
  border: 1px solid;
  margin-left: 10px;
}
.nav-link {
  font-size: 1.3rem;
}
