/* header */
.header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 135px;
    box-sizing: border-box;
    z-index: 10;
    align-items: end;
    border-bottom: 1px solid #ddd;
  }
  .header .h_wrap {
    width: 100%;
    max-width: 1300px;
    box-sizing: border-box;
    margin: 0px auto;
    padding: 0px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .header .h_top_nav {
    width: 100%;
    display: flex;
    justify-content: right;
    margin-bottom: 15px;
  }
  .header .h_top_nav ul {
    display: flex;
  }
  .header .h_top_nav ul li {
    margin-right: 20px;
  }
  .header .h_top_nav ul li:last-child {
    margin-right: 0;
  }
  .header .h_top_nav ul li a {
    font-size: 12px;
    color: #888;
  }
  .header .h_top_nav ul li.h_login-out {
    margin-right: 0;
  }
  .header .h_top_nav ul li.on {
    display: none;
    margin-right: 0;
  }
  .header .h_logo {
    margin-bottom: 20px;
  }
  .header .h_logo h1 a {
    font-size: 0px;
    color: #222;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    display: flex;
    align-items: center;
  }
  .header .h_logo h1 a .hl_logo {
    width: 90px;
  }
  .hl_bee {
    width: 40px;
  }
  .header .h_nav ul {
    display: flex;
  }
  .header .h_nav ul li {
    margin-right: 10px;
  }
  .header .h_nav ul li:last-child {
    margin-right: 0;
  }
  .header .h_nav ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: #FFF8EA;
    color: #FFC501;
  }
  .header .h_nav ul li a:hover {
    background-color: #0A174E;
  }
  .header .h_nav ul li a i {
    font-size: 16px;
    color: inherit;
  }
  .header .h_menu {
    width: 100%;
    box-sizing: border-box;
  }
  .header .h_menu > ul {
    display: flex;
  }
  .header .h_menu > ul .hm_category {
    display: flex;
    position: relative;
    align-items: center;
  }
  .header .h_menu > ul .hm_category.on .h_category-list {
    display: flex;
  }
  .header .h_menu > ul .hm_category .hm_bar {
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFC501;
    cursor: pointer;
  }
  .header .h_menu > ul .hm_category .hm_bar i {
    color: #fff;
    font-size: 16px;
  }
  .header .h_menu > ul .hm_category .hm_category-p {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    cursor: pointer;
    padding-left: 10px;
  }
  .header .h_menu > ul .hm_category .h_category-list {
    display: none;
    position: absolute;
    top: 34px;
    left: 0;
    background-color: #fff;
    width: 200px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  }
  .header .h_menu > ul .hm_category .h_category-list ul {
    width: 100%;
    box-sizing: border-box;
  }
  .header .h_menu > ul .hm_category .h_category-list ul li a {
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
    padding: 14px 10px;
    font-size: 14px;
    color: #222;
    font-family: "NanumSquareNeoBold";
    font-weight: 500;
    border-bottom: 1px solid #eee;
  }