.pdt-container {
  padding-top: 135px;
}
.pdt-section-wrap {
  max-width: 1300px;
  margin: 0px auto;
  box-sizing: border-box;
  padding: 0px 30px;
  height: auto;
}
.pdt-content-category-inner {
  position: relative;
  padding: 25px 20px;
  box-sizing: border-box;
  height: auto;
  border-bottom: 2px solid #ffc501;
}
.main-category-name {
  display: flex;
  justify-content: center;
  font-size: 32px;
  color: #000;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
  padding: 10px 0;
}
.pdt-content-category-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
pdt-content-category-inner > li {
  flex: 1 0 0;
}
.pdt-content-category-inner > li > a {
  position: relative;
  display: block;
  top: 1px;
  margin: -1px 0 0 -1px;
  padding: 14px 10px 15px;
  font-size: 15px;
  box-sizing: border-box;
  text-align: center;
  line-height: 20px;
  font-weight: 700;
  cursor: pointer;
  color: #000;
}
.pdt-content-inner {
  width: 100%;
}
.pdt-content-wrap {
  overflow: hidden;
}
.pdt-content-wrap > ul {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.pdt-content-wrap > ul > li {
  width: 25%;
  padding: 40px 0;
}
.pdt-box {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px;
}
.pdt-content-image {
  position: relative;
  background-color: #fff;
  padding-bottom: 100%;
  overflow: hidden;
}
.pdt-content-image > i {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  font-size: 16px;
  opacity: 0.5;
  cursor: pointer;
}
.pdt-content-image > a > img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  transform: translate(-50%, -50%);
  transition: transform 0.2s;
  border-radius: 15px;
  box-sizing: border-box;
}
.pdt-content-image-info {
  padding: 0 5px;
}
.pdt-content-image-info .pdt-name {
  height: 40px;
  margin-top: 10px;
  overflow: hidden;
}
.pdt-content-image-info .pdt-name a {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: #000;
  padding: 10px 0;
}
.pdt-price {
  padding: 5px 0;
  font-size: 16px;
  line-height: 23px;
  font-weight: 700;
  color: #000;
  margin-right: 4px;
}
